
.no-results{
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 13px;
}

.no-results .header{
    display: flex;
    justify-content: center;
}

.sad-icon{
    margin-top: 7px;
    margin-left: 5px;
}
