.main-page{
    width: 850px;
    margin: auto;
    margin-top: 50px;
}

.search-form{
    margin-bottom: 20px;
}

.date-picker-field{
    margin-left: 20px;
}

.search-button-div{
    width: 150px;
    margin: auto;
}

.radio-button-field{
    margin-right: 40px;
}

.autocomplete-field{
    /* width: 200px; */
}

.airport-id{
    font-weight: bold;
}