<div class="main-page">
  <mat-card class="form-card">
    <div class="form-container">
      <div class="form-first-row">
        <mat-radio-group [(ngModel)]="tripType">
          <mat-radio-button class="radio-button-field" value="roundTrip">Round Trip</mat-radio-button>
          <mat-radio-button class="radio-button-field" value="oneWay" [disabled]="datesToggleValue === 'DaysOff'">One
            Way</mat-radio-button>
        </mat-radio-group>
        <div class="search-by-container">
          <div class="search-by-title">
            Search By
          </div>
          <mat-button-toggle-group class="search-by-button" #group="matButtonToggleGroup" [value]="datesToggleValue"
            (change)="onDatesToggleValueChange(group.value)">
            <mat-button-toggle value="Dates">Dates</mat-button-toggle>
            <mat-button-toggle value="DaysOff" [disabled]="tripType === 'oneWay'">Days-off</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <form (ngSubmit)="onSearch()" class="search-form">
        <div class="form-fields">
          <mat-form-field class="autocomplete-field">
            <input matInput [matAutocomplete]="autoFrom" placeholder="From..." [formControl]="whereFrom">
            <mat-autocomplete #autoFrom="matAutocomplete" autoActiveFirstOption
              [displayWith]="dataDisplayService.getPlaceDisplay" [panelWidth]="250">
              <mat-option *ngIf="isLoadingFromOptions" class="is-loading" class="autocomplete-option">
                <mat-spinner diameter="20"></mat-spinner>
              </mat-option>
              <ng-container>
                <mat-option *ngFor="let option of fromOptions" [value]="option" class="autocomplete-option">
                  <div class="autocomplete-place-name">{{ dataDisplayService.getPlaceDisplay(option) }}</div>
                  <div class="autocomplete-country-name">{{ option.countryName }}</div>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
          <button type="button" (click)="swapDestinations()" mat-icon-button color="accent">
            <mat-icon>swap_horiz</mat-icon>
          </button>
          <mat-form-field class="autocomplete-field">
            <input matInput [matAutocomplete]="autoTo" placeholder="To..." [formControl]="whereTo">
            <mat-autocomplete #autoTo="matAutocomplete" autoActiveFirstOption
              [displayWith]="dataDisplayService.getPlaceDisplay" [panelWidth]="250">
              <mat-option *ngIf="isLoadingToOptions" class="is-loading" class="autocomplete-option">
                <mat-spinner diameter="20"></mat-spinner>
              </mat-option>
              <ng-container>
                <mat-option *ngFor="let option of toOptions" [value]="option" class="autocomplete-option">
                  <div class="autocomplete-place-name">{{ dataDisplayService.getPlaceDisplay(option) }}</div>
                  <div class="autocomplete-country-name">{{ option.countryName }}</div>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
          <div class="dates-container">
            <div *ngIf="datesToggleValue === 'Dates'">
              <mat-form-field class="date-picker-field outbound-date">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="departurePicker"
                  placeholder="Departure on..." [formControl]="departureDate">
                <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                <mat-datepicker #departurePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="date-picker-field">
                <input [min]="minDate" [max]="maxDate" [disabled]="isOneWay()" matInput [matDatepicker]="returnPicker"
                  placeholder="Return on..." [formControl]="returnDate">
                <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
                <mat-datepicker #returnPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngIf="datesToggleValue === 'DaysOff'">
              <div>
                <mat-form-field class="days-off-display">
                  <mat-label>Days Off</mat-label>
                  <mat-select [(ngModel)]="numberOfDaysOff" name="daysOff">
                    <mat-option *ngFor="let num of numberOfDaysOffOptions" [value]="num">
                      {{num}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button type="button" (click)="openDaysOffDialog()" mat-icon-button color="accent">
                  <mat-icon>help</mat-icon>
                </button>
              </div>
              <mat-form-field>
                <input matInput placeholder="Choose a date range" [satDatepicker]="picker"
                  [formControl]="daysOffDateRange" [min]="minDate">
                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>
            </div>
          </div>
          <div class="options-container">
            <mat-form-field class="passengers-select">
              <mat-label>Passengers</mat-label>
              <mat-select [(ngModel)]="numberOfPassengers" name="passengers">
                <mat-option *ngFor="let num of numberOfPassengersOptions" [value]="num">
                  {{num}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="search-button-div" [matTooltip]="getTooltipMessage()" [matTooltipDisabled]="showErrorTooltip()"
          matTooltipClass="example-tooltip-red">
          <button type="submit" mat-raised-button color="accent" [disabled]="disableSearch()">Search
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </mat-card>
  <div *ngIf="currentSearchState === searchStatesEnum.succsses" class="slider-container">
    <span>Speed</span>
    <mat-slider class="slider-display" [max]="maxSliderValue" [min]="minSliderValue" [(ngModel)]="sliderValue" #mySlider
      (slideend)="onSliderInputChange(mySlider.value)" (pointerup)="onSliderInputChange(mySlider.value)">
    </mat-slider>
    <span>Price</span>
  </div>
  <div class="results-content">
    <div class="filters-display" *ngIf="currentSearchState === searchStatesEnum.succsses">
      <mat-expansion-panel class="filter-expander">
        <mat-expansion-panel-header>
          Price
        </mat-expansion-panel-header>
        <div>Max Price
          <span *ngIf="priceSliderValue">: {{priceSliderValue}}$</span>
        </div>
        <mat-slider class="price-slider-display" [max]="maxPriceSliderValue" [min]="minPriceSliderValue"
          [(ngModel)]="priceSliderValue" #priceSlider (slideend)="onPriceSliderInputChange(priceSlider.value)"
          (pointerup)="onPriceSliderInputChange(priceSlider.value)" (input)="onPriceInputLiveChange($event)">
        </mat-slider>
        <button *ngIf="priceSliderValue" mat-stroked-button color="primary" (click)="resetPriceSlider()">reset</button>
      </mat-expansion-panel>
      <mat-expansion-panel class="filter-expander">
        <mat-expansion-panel-header>
          Stops
        </mat-expansion-panel-header>
        <div class="checkbox-container">
          <mat-checkbox [(ngModel)]="this.filterParams.numOfStops.zero" (change)="onCheckboxChanged()">Non-Stop
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.numOfStops.one" (change)="onCheckboxChanged()">1 Stop
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.numOfStops.two" (change)="onCheckboxChanged()">2 Stops
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.numOfStops.threeAndMore" (change)="onCheckboxChanged()">3+
            Stops
          </mat-checkbox>
          <div>
            <button mat-stroked-button color="primary" (click)="resetStopsCheckboxs()">reset</button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="filter-expander">
        <mat-expansion-panel-header>
          Outbound Flight
        </mat-expansion-panel-header>
        <div class="checkbox-container">
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.outbound.morning" (change)="onCheckboxChanged()">
            morning <span class="checkbox-hours">(5am - 12pm)</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.outbound.afternoon" (change)="onCheckboxChanged()">
            afternoon <span class="checkbox-hours">(12pm - 17pm)</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.outbound.evening" (change)="onCheckboxChanged()">
            evening <span class="checkbox-hours">(17pm - 21pm)</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.outbound.night" (change)="onCheckboxChanged()">night
            <span class="checkbox-hours">(21pm - 5am)</span>
          </mat-checkbox>
          <div>
            <button mat-stroked-button color="primary" (click)="resetOutboundTimesCheckboxs()">reset</button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="filter-expander">
        <mat-expansion-panel-header>
          Inbound Flight
        </mat-expansion-panel-header>
        <div class="checkbox-container">
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.inbound.morning" (change)="onCheckboxChanged()">
            morning <span class="checkbox-hours">(5am - 12pm)</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.inbound.afternoon" (change)="onCheckboxChanged()">
            afternoon <span class="checkbox-hours">(12pm - 17pm)</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.inbound.evening" (change)="onCheckboxChanged()">
            evening <span class="checkbox-hours">(17pm - 21pm)</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="this.filterParams.flightTime.inbound.night" (change)="onCheckboxChanged()">night
            <span class="checkbox-hours">(21pm - 5am)</span>
          </mat-checkbox>
          <div>
            <button mat-stroked-button color="primary" (click)="resetInboundTimesCheckboxs()">reset</button>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="space-div" *ngIf="currentSearchState != searchStatesEnum.succsses"></div>
    <mat-card class="results-container" *ngIf="currentSearchState !== searchStatesEnum.empty">
      <app-error-message *ngIf="currentSearchState === searchStatesEnum.error"></app-error-message>
      <app-no-results-message *ngIf="currentSearchState === searchStatesEnum.noResults">
      </app-no-results-message>
      <app-loading-bar *ngIf="currentSearchState === searchStatesEnum.loading" [message]="loadingMessage"
        [value]="loadingProgress"></app-loading-bar>
      <div *ngIf="currentSearchState === searchStatesEnum.succsses" class="trips-options">
        <app-flights-results [flightsResults]="filteredTripOptions"></app-flights-results>
      </div>
    </mat-card>
  </div>
</div>