<div class="main-page">
  <mat-card class="form-card">
    <div class="form-container">
      <div class="form-first-row">
        <mat-radio-group [(ngModel)]="tripType">
          <mat-radio-button class="radio-button-field" value="roundTrip">Round Trip</mat-radio-button>
          <mat-radio-button class="radio-button-field" value="oneWay">One Way</mat-radio-button>
        </mat-radio-group>
        <div class="options-container">
          <mat-form-field class="passengers-select">
            <mat-label>Passengers</mat-label>
            <mat-select [(ngModel)]="numberOfPassengers" name="passengers">
              <mat-option *ngFor="let num of numberOfPassengersOptions" [value]="num">
                {{num}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <form (ngSubmit)="onSearch()" class="search-form">
        <div class="form-fields">
          <mat-form-field class="autocomplete-field">
            <input matInput [matAutocomplete]="autoFrom" placeholder="From..." [formControl]="whereFrom">
            <mat-autocomplete #autoFrom="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
              <mat-option *ngIf="isLoadingFromOptions" class="is-loading">
                <mat-spinner diameter="20"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoadingFromOptions">
                <mat-option *ngFor="let option of fromOptions" [value]="option">
                  <span class="place-name">{{ displayFn(option) }}</span> -
                  <span class="country-name">{{ option.countryName }}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
          <button type="button" (click)="swapDestinations()" mat-icon-button color="accent">
            <mat-icon>swap_horiz</mat-icon>
          </button>
          <mat-form-field class="autocomplete-field">
            <input matInput [matAutocomplete]="autoTo" placeholder="To..." [formControl]="whereTo">
            <mat-autocomplete #autoTo="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
              <mat-option *ngIf="isLoadingToOptions" class="is-loading">
                <mat-spinner diameter="20"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoadingToOptions">
                <mat-option *ngFor="let option of toOptions" [value]="option">
                  <span class="place-name">{{ displayFn(option) }}</span> -
                  <span class="country-name">{{ option.countryName }}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
          <div class="search-by-container">
            <div class="search-by-title">
              Search By
            </div>
            <mat-button-toggle-group class="search-by-button" #group="matButtonToggleGroup" [value]="datedToggleValue"
              (change)="onDatedToggleValueChange(group.value)">
              <mat-button-toggle value="Dates">Dates</mat-button-toggle>
              <mat-button-toggle value="DaysOff">Days-off</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="dates-container">
            <div *ngIf="datedToggleValue === 'Dates'">
              <mat-form-field class="date-picker-field outbound-date">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="departurePicker"
                  placeholder="Departure on..." [formControl]="departureDate">
                <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                <mat-datepicker #departurePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="date-picker-field">
                <input [min]="departureDate" [max]="maxDate" [disabled]="isOneWay()" matInput
                  [matDatepicker]="returnPicker" placeholder="Return on..." [formControl]="returnDate">
                <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
                <mat-datepicker #returnPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngIf="datedToggleValue === 'DaysOff'">
              <div>
                <mat-form-field class="days-off-display">
                  <mat-label>Days Off</mat-label>
                  <mat-select [(ngModel)]="numberOfDaysOff" name="daysOff">
                    <mat-option *ngFor="let num of numberOfDaysOffOptions" [value]="num">
                      {{num}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button type="button" (click)="openDaysOffDialog()" mat-icon-button color="accent">
                  <mat-icon>help</mat-icon>
                </button>
              </div>
              <mat-form-field>
                <input matInput placeholder="Choose a date range" [satDatepicker]="picker" [value]="date">
                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="search-button-div">
          <button type="submit" mat-raised-button color="accent">Search
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </mat-card>
  <mat-card class="results-container" *ngIf="currentSearchState !== searchStatesEnum.empty">
    <app-error-message *ngIf="currentSearchState === searchStatesEnum.error"></app-error-message>
    <app-no-results-message *ngIf="currentSearchState === searchStatesEnum.noResults">
    </app-no-results-message>
    <app-loading-bar *ngIf="currentSearchState === searchStatesEnum.loading" [message]="loadingMessage"
      [value]="loadingProgress"></app-loading-bar>
    <div *ngIf="currentSearchState === searchStatesEnum.succsses" class="trips-options">
      <app-flights-results [flightsResults]="tripOptions"></app-flights-results>
    </div>
  </mat-card>
</div>