<mat-card class="trip">
    <mat-card-header class="trip-title">
        <div>{{trip.whereFrom}} </div>
        <mat-icon color="accent">arrow_right_alt</mat-icon>
        <div> {{trip.whereTo}}</div>
    </mat-card-header>
    <div class="card-content">
        <div class="accordion-container">
            <mat-accordion>
                <mat-expansion-panel class="flight-option">
                    <mat-expansion-panel-header>
                        <app-flight-header-option class="flight-option-header" [flightOption]="trip.outbound"
                            [isOutbound]="true"></app-flight-header-option>
                    </mat-expansion-panel-header>
                    Details
                </mat-expansion-panel>
                <mat-expansion-panel class="flight-option">
                    <mat-expansion-panel-header>
                        <app-flight-header-option class="flight-option-header" [flightOption]="trip.inbound"
                            [isOutbound]="false"></app-flight-header-option>
                    </mat-expansion-panel-header>
                    Details
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="select-price-container">
            <div>{{trip.lowestPriceAgent.Name}}</div>
            <div color="accent">{{trip.lowestPriceAgent.price}}$</div>
            <button (click)="selectAgent(trip.lowestPriceAgent)" mat-raised-button color="primary">Select
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </div>
</mat-card>