<div class="flight-option-header">
    <div class="title-container">
        <div *ngIf="isOutbound" class="flight-option-title">
            <mat-icon color="accent">flight_takeoff</mat-icon>
            {{outboundTitle}}
        </div>
        <div *ngIf="!isOutbound" class="flight-option-title">
            <mat-icon color="accent" class="flip">flight_land</mat-icon>
            {{inboundTitle}}
        </div>
    </div>
    <div>
        <div class="flight-hours">
            {{dataDisplayService.getTimeDispaly(flightOption.departure)}}
            <mat-icon color="accent">arrow_right_alt</mat-icon>
            {{dataDisplayService.getTimeDispaly(flightOption.arrive)}}
            <div *ngIf="(flightOption.daysDiff > 0)" class="days-diff">
                +{{flightOption.daysDiff}}
            </div>
        </div>
    </div>
    <div>
        <div>{{dataDisplayService.getStopsDisplay(flightOption.flights.length)}}</div>
    </div>
    <div class="duration-container">
        <mat-icon color="accent">watch_later</mat-icon>
        <div>
            {{dataDisplayService.getMinutesToHoursDisplay(flightOption.duration)}}
        </div>
    </div>
</div>